__pycache__
*.pyc
*.pyo
.git
.gitignore
testsite/
diagrams_drawio/
diagrams_mmd/
diaoutput/
*.drawio
*.mmd
*.puml
*.ps1
*.bat
*.rar
*.docx
*.doc
report.html
report0.html
export-diagrams.*
screenshot-diagrams.*
class_diagram.*
.dockerignore
Dockerfile
docker-compose.yml
